<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daggerhilt">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaggerHilt">
        <activity android:name=".ui.Part06Activity"></activity>
        <activity android:name=".ui.Part05Activity" />
        <activity android:name=".ui.Part04Activity" />
        <activity android:name=".ui.Part03Activity" />
        <activity android:name=".ui.Part02Activity" />
        <activity android:name=".ui.Part01Activity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>